# Overwrite Global Ignore.
!config/**/*

# Visual Studio Code.
.vscode/

# Ignore UUID.
config/.uuid

# Ignore configuration files for devices.
config/*.conf

# Ignore secrets.
config/secrets.yaml

# Ignore deps directory.
config/deps/

# Ignore text to speech directory.
config/tts/

# Ignore Home Assistant log file.
config/home-assistant.log

# Ignore Home Assistant database file.
config/home-assistant_v2.db
config/home-assistant_v2.db-wal
config/home-assistant_v2.db-shm

# Ignore Yarn lock file.
yarn.lock

# Ignore Spotify tokens.
config/.spotify-token-cache

# Ignore Homekit file.
config/.homekit.state

# Ignore Configuration Entries file.
config/.config_entries.json

# Ignore storage folder.
config/.storage/

# Ring
config/.ring_cache.pickle

# Playstation 4
config/.ps4-games.json

# Cloud
config/.cloud

# __pycache__
**/__pycache__/*

# Node
node_modules/

# PHP Storm
.idea/
