[submodule "config/themes/home-assistant-community-themes"]
  path = config/themes/home-assistant-community-themes
  url = https://github.com/maartenpaauw/home-assistant-community-themes.git
[submodule "config/esphome"]
	path = config/esphome
	url = git@github.com:maartenpaauw/esphome-config.git
