# Visual Studio Code
.vscode/

# Ignore UUID.
.uuid

# Ignore configuration files for devices.
*.conf

# Ignore secrets
secrets.yaml

# Ignore deps directory.
deps/

# Ignore text to speech directory.
tts/

# Ignore Home Assistant log file.
home-assistant.log

# Ignore Home Assistant database file.
home-assistant_v2.db
home-assistant_v2.db-wal
home-assistant_v2.db-shm

# Ignore Yarn lock file.
yarn.lock

# Ignore Spotify tokens.
.spotify-token-cache

# Ignore Shopping List.
.shopping_list.json

# Ignore Homekit file.
.homekit.state

# Ignore Configuration Entries file.
.config_entries.json

# Ignore Custom UI files.
www/custom_ui/state-card-custom-ui*
www/custom_ui/*.LICENSE
www/custom_ui/*.js.map

# Ignore Customizer component
custom_components/customizer/*

# Ignore Custom UI update shell command file.
update.sh
