# Alarm
alarm_home_code: 1234

# Apple TV - Woonkamer
apple_tv_woonkamer_host: 127.0.0.1
apple_tv_woonkamer_login_id: 00000000-0000-0000-0000-000000000000
apple_tv_woonkamer_credentials: 0000000000000000:0000000000000000000000000000000000000000000000000000000000000000

# Device Tracker - Rianne van der Maat
device_tracker_rianne_van_der_maat_gravatar: mail@example.com
device_tracker_rianne_van_der_maat_mac: aa:bb:cc:dd:ee:ff

# Home Assistant Community Store
hacs_token: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# HTTP
http_api_password: password
http_base_url: http://www.example.com/

# Hue
hue_bridge_host: 127.0.0.1

# IFTTT
ifttt_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Media Player - Spotify
media_player_spotify_client_id: 00000000000000000000000000000000
media_player_spotify_client_secret: 00000000000000000000000000000000

# Media Player - Sony Bravia TV
media_player_sony_bravia_tv_host: 127.0.0.1

# MQTT
mqtt_password: password

# Notify - HTML5
notify_browser_vapid_pub_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
notify_browser_vapid_prv_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
notify_browser_vapid_email: info@example.com

# Person
person_maarten_paauw_user_id: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
person_rianne_van_der_maat_user_id: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Recorder
recorder_db_url: mysql://USER:PASSWORD@SERVER_IP/DB_NAME?charset=utf8

# Ring
ring_username: mail@example.com
ring_password: password

# Sensor - Brother
sensor_brother_host: 127.0.0.1
sensor_brother_status_resource: http://127.0.0.1/general/status.html

# Sensor - Post NL
sensor_postnl_username: mail@example.com
sensor_postnl_password: password

# Shell Command - Windows off
shell_command_windows_turn_off: net rpc shutdown -I 127.0.0.1 -U username%password

# Switch - Magic Mirror
switch_magic_mirror_resource: http://magicmirror.local:3000/api/v1/magic-mirror/display

# Switch - PC
switch_pc_mac_address: aa:bb:cc:dd:ee:ff
switch_pc_host: 127.0.0.1

# Toon
toon_client_id: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
toon_client_secret: xxxxxxxxxxxxxxxx

# Transmission
transmission_host: 127.0.0.1

# Zone - Home
zone_home_latitude: 0
zone_home_longitude: 0

# Zone - Work Rianne van der Maat
zone_work_rianne_van_der_maat_latitude: 0
zone_work_rianne_van_der_maat_longitude: 0

# Zone - Work Maarten Paauw
zone_work_maarten_paauw_latitude: 0
zone_work_maarten_paauw_longitude: 0
