# Family
gravatar_email_maarten_paauw: mail@example.com
gratatar_email_rianne_van_der_maat: mail@example.com

# Home Assistant
home_assistant_latitude: 0
home_assistant_longitude: 0

# HTTP
http_api_password: password
http_base_url: http://www.example.com/

# Toon
toon_username: mail@example.com
toon_password: password
