# Device trackers
device_tracker_maarten_paauw_gravatar: mail@example.com
device_tracker_maarten_paauw_mac: aa:bb:cc:dd:ee:ff

device_tracker_rianne_van_der_maat_gravatar: mail@example.com
device_tracker_rianne_van_der_maat_mac: aa:bb:cc:dd:ee:ff

# Home Assistant
zone_home_latitude: 0
zone_home_longitude: 0

# Station Drukwerk
zone_work_station_drukwerk_latitude: 0
zone_work_station_drukwerk_longitude: 0

# Parents Maarten
family_parents_maarten_latitude: 0
family_parents_maarten_longitude: 0

# Swimming Pool
other_swimming_pool_latitude: 0
other_swimming_pool_longitude: 0

# HTTP
http_api_password: password
http_base_url: http://www.example.com/

# Toon
toon_username: mail@example.com
toon_password: password

# Switch PC
switch_pc_mac_address: aa:bb:cc:dd:ee:ff
switch_pc_host: 127.0.0.1

# Shell Commands
shell_command_pc_turn_off: net rpc shutdown -I 127.0.0.1 -U username%password

# Apple TV woonkamer
apple_tv_woonkamer_host: 127.0.0.1
apple_tv_woonkamer_login_id: 00000000-0000-0000-0000-000000000000
apple_tv_woonkamer_credentials: 0000000000000000:0000000000000000000000000000000000000000000000000000000000000000

# Spotify
spotify_client_id: 00000000000000000000000000000000
spotify_client_secret: 00000000000000000000000000000000

# TV
tv_host: 127.0.0.1

# IFTTT
ifttt_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
